<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <strong>About us</strong>
</p>

<p>
  <strong>Description:</strong>
  <h1>This is a page for Ruby practice.</h1>
</p>

<%= link_to 'Back', topics_path %>
